# EC2 ENV
SSH_PRIVATE_KEY=
EC2_USER=
EC2_HOST=
ENV_FILE=
PROJECT_FOLDER=

# APPLICATION ENV: 

# Environment
NODE_ENVY=
CLIENT_URL=

# Port
PORT=
# Host :
HOST=

# Database URL
DB_URL=

#SERVER_BASE_URL
SERVER_URL=
# Bcrypt Salt Rounds
BCRYPT_SALT_ROUNDS=
OTP_EXPIRY_MINUTES=

# JWT Secrets and Expiry
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
JWT_OTP_SECRET=
JWT_OTP_SECRET_EXPIRES_IN=


# Super Admin Credentials

# The SUPER_ADMIN_PASSWORD should follow the strong password policy:
# - At least one uppercase letter (A-Z)
# - At least one lowercase letter (a-z)
# - At least one number (0-9)
# - At least one special character (@$!%*?&#)
# - Length: 6-20 characters

SUPER_ADMIN_EMAIL==
SUPER_ADMIN_PASSWORD=
SUPER_ADMIN_PROFILE_PHOTO=
SUPER_ADMIN_MOBILE_NUMBER=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_OTP=

# For twilio
TWILIO_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=



# EMAIL CONFIGURATION
EMAIL_FOR_NODEMAILER=
PASSWORD_FOR_NODEMAILER=
PREFFERED_WEBSITE_NAME=
EMAILCOLOR=
BUTTONCOLOR=


# STRIPE
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
STRIPE_ORG_MONTHLY_PRICE_ID=
STRIPE_ORG_YEARLY_PRICE_ID=
STRIPE_BIZ_MONTHLY_PRICE_ID=
STRIPE_BIZ_YEARLY_PRICE_ID=

# BASIC API KEY:
BASIQ_BASE_URL=
BASIQ_API_KEY=

# PLAID API:  (STILL DEV ENV)
PLAID_CLIENT_ID=
PLAID_SECRET=
PLAID_ENV=sandbox
PLAID_WEBHOOK_URL=
PLAID_WEBHOOK_KEY=
PLAID_REDIRECT_URI=
ENCRYPTION_KEY=


# AWS S3 CONFIGURATION :
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=



# TAX PERCENTAGE (e.g., 0.05 for 5%)
TAX_PERCENTAGE=
# PLATFORM FEE PERCENTAGE (e.g., 0.05 for 5%)
PLATFORM_FEE_PERCENTAGE=
# GST_PERCENTAGE: 10%
GST_PERCENTAGE=
# CLEARING PERIOD IN DAYS
CLEARING_PERIOD_DAYS=
# 30C : Fixed stripe fee
STRIPE_FIXED_FEE=
#2.9% STRIPE FEE
STRIPE_FEE_PERCENTAGE=


FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=



REVENUE_CAT_WEBHOOK_SECRET=